@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --darkblue: #222868;
    --lightblue: #7BD1EC;
}

body {
    background: #ecf0f3;
    font-family: Raleway;
}

.logo {
    width: 140px;
    margin-top: .5rem;
}

.blue-smiley {
    width: 100%;
    border-radius: 50%;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3),
                -8px -8px 16px rgb(255, 255, 255);
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    margin-top: 1rem;
}

.mark {
    width: 15px;
    margin-bottom: 7px;
}

.form-logo {
    width: 70px;
    filter: drop-shadow(2px 2px 2px #585858);
}

span {
    font-size: 20px;
}

h1 {
    margin: 0.5em 0 0.25em 0 !important;
}

.col {
    padding: 0 !important;
}

.row p {
    font-size: 18px;
}

.google-play, .apple-store, .mac-store, .windows {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6),
                -4px -4px 8px rgb(255, 255, 255);
}

.windows, .google-play {
    margin-right: 8px;
}

.apple-store, .mac-store {
    margin-left: 8px;
}

footer {
    position: relative;
    margin-top: 16rem;
    padding-bottom: 3rem;
}

.wave {
    position: absolute;
    bottom: 400px;
    left: 0;
    z-index: -1;
}

.footer-btn {
    position: relative;
}

.footer-icon {
    position: absolute;
    top: 35%;
    left: 20%;
    transform: translate(-50%, -50%);
}

@-webkit-keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
	}
	60% {
		-webkit-transform: translateY(-12px);
		        transform: translateY(-12px);
	}
}

@keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
	}
	60% {
		-webkit-transform: translateY(-12px);
		        transform: translateY(-12px);
	}
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid var(--lightblue) !important;
  -webkit-box-shadow: 0 1px 0 0 var(--lightblue) !important;
          box-shadow: 0 1px 0 0 var(--lightblue) !important;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: var(--lightblue) !important;
}

input:not([type]):focus.valid ~ label,
input[type=text]:not(.browser-default):focus.valid ~ label,
input[type=password]:not(.browser-default):focus.valid ~ label,
input[type=email]:not(.browser-default):focus.valid ~ label,
input[type=url]:not(.browser-default):focus.valid ~ label,
input[type=time]:not(.browser-default):focus.valid ~ label,
input[type=date]:not(.browser-default):focus.valid ~ label,
input[type=datetime]:not(.browser-default):focus.valid ~ label,
input[type=datetime-local]:not(.browser-default):focus.valid ~ label,
input[type=tel]:not(.browser-default):focus.valid ~ label,
input[type=number]:not(.browser-default):focus.valid ~ label,
input[type=search]:not(.browser-default):focus.valid ~ label,
textarea.materialize-textarea:focus.valid ~ label {
  color: var(--darkblue) !important;
}

input.valid:not([type]), input.valid:not([type]):focus,
input.valid[type=text]:not(.browser-default),
input.valid[type=text]:not(.browser-default):focus,
input.valid[type=password]:not(.browser-default),
input.valid[type=password]:not(.browser-default):focus,
input.valid[type=email]:not(.browser-default),
input.valid[type=email]:not(.browser-default):focus,
input.valid[type=url]:not(.browser-default),
input.valid[type=url]:not(.browser-default):focus,
input.valid[type=time]:not(.browser-default),
input.valid[type=time]:not(.browser-default):focus,
input.valid[type=date]:not(.browser-default),
input.valid[type=date]:not(.browser-default):focus,
input.valid[type=datetime]:not(.browser-default),
input.valid[type=datetime]:not(.browser-default):focus,
input.valid[type=datetime-local]:not(.browser-default),
input.valid[type=datetime-local]:not(.browser-default):focus,
input.valid[type=tel]:not(.browser-default),
input.valid[type=tel]:not(.browser-default):focus,
input.valid[type=number]:not(.browser-default),
input.valid[type=number]:not(.browser-default):focus,
input.valid[type=search]:not(.browser-default),
input.valid[type=search]:not(.browser-default):focus,
textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown {
  border-bottom: 1px solid var(--darkblue) !important;
  -webkit-box-shadow: 0 1px 0 0 var(--darkblue) !important;
          box-shadow: 0 1px 0 0 var(--darkblue) !important;
}

input:not([type]).valid ~ .helper-text:after,
input:not([type]):focus.valid ~ .helper-text:after,
input[type=text]:not(.browser-default).valid ~ .helper-text:after,
input[type=text]:not(.browser-default):focus.valid ~ .helper-text:after,
input[type=password]:not(.browser-default).valid ~ .helper-text:after,
input[type=password]:not(.browser-default):focus.valid ~ .helper-text:after,
input[type=email]:not(.browser-default).valid ~ .helper-text:after,
input[type=email]:not(.browser-default):focus.valid ~ .helper-text:after,
input[type=url]:not(.browser-default).valid ~ .helper-text:after,
input[type=url]:not(.browser-default):focus.valid ~ .helper-text:after,
input[type=time]:not(.browser-default).valid ~ .helper-text:after,
input[type=time]:not(.browser-default):focus.valid ~ .helper-text:after,
input[type=date]:not(.browser-default).valid ~ .helper-text:after,
input[type=date]:not(.browser-default):focus.valid ~ .helper-text:after,
input[type=datetime]:not(.browser-default).valid ~ .helper-text:after,
input[type=datetime]:not(.browser-default):focus.valid ~ .helper-text:after,
input[type=datetime-local]:not(.browser-default).valid ~ .helper-text:after,
input[type=datetime-local]:not(.browser-default):focus.valid ~ .helper-text:after,
input[type=tel]:not(.browser-default).valid ~ .helper-text:after,
input[type=tel]:not(.browser-default):focus.valid ~ .helper-text:after,
input[type=number]:not(.browser-default).valid ~ .helper-text:after,
input[type=number]:not(.browser-default):focus.valid ~ .helper-text:after,
input[type=search]:not(.browser-default).valid ~ .helper-text:after,
input[type=search]:not(.browser-default):focus.valid ~ .helper-text:after,
textarea.materialize-textarea.valid ~ .helper-text:after,
textarea.materialize-textarea:focus.valid ~ .helper-text:after, .select-wrapper.valid ~ .helper-text:after {
  content: attr(data-success);
  color: var(--darkblue);
}

.form-container {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Chat Interface */
.fixed-header{
    position: fixed;
    width: 100%;
    height: 64px;
    z-index: 997;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
}

.status {
    background: #E0EFFA;
    padding: .1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.size-1 {
    font-size: 30px;
}

.sender-box-right {
    clip-path: polygon(100% 0, 96% 8%, 96% 100%, 0 100%, 0 0);
    padding: 1rem 3.8rem 1rem 2rem !important;
    border-radius: 20px 0 0 20px;
}

.sender-box-left {
    clip-path: polygon(0 0, 100% 0, 100% 99%, 4% 100%, 4% 9%);
    padding: 1rem 2rem 1rem 3.5rem !important;
    border-radius: 0 20px 20px 0;
}

.chat-time {
    font-size: 14px;
}

.chat-sent {
    color: #0089D1;
    font-size: 14px;
}

h5 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
}

h6 {
    font-size: 14px;
}

.messages {
    width: 100%;
    display: block;
    min-height: 100vh;
    background-image: url("../images/chat-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: center;
}
/* Utilities */
.white:hover {
    background: #7BD1EC !important;
}

.lightBlue {
    background: #BDE8F5 !important;
}

.lightBlue:hover {
    background: #7BD1EC !important;
}

.lightBlue-text {
    color: #BDE8F5 !important;
}

.darkBlue {
    background: #222868 !important;
}

.darkBlue-text {
    color: #222868 !important;
}

.rounded {
    border-radius: 25px;
}

.bold {
    font-family: Roboto !important;
    font-weight: 500 !important;
}

.thin {
    font-family: "Roboto" !important;
    font-weight: 300 !important;
    font-size: 50px;
}

.top-padding {
    padding: 6rem 0;
}

.lr-padding {
    padding: 0 1.5rem;
}

.top-margin {
    margin: 9rem 0 0 0 !important;
}

.top-margin1 {
    margin-top: 10rem !important;
}

.margin-up {
    margin-top: 3rem;
}

.bottom-margin {
    margin-bottom: 16px !important;
}

.footer-margin {
    margin-top: 2rem;
}

.right-margin {
    margin-right: 3rem;
}

.uppercase {
    text-transform: uppercase;
    font-weight: 500;
}

.margin-down {
    margin-bottom: 1rem;
}

.margin-down1 {
    margin-bottom: 2rem;
}

.margin-down2 {
    margin-bottom: 3rem;
}

.left-padding {
    padding-left: 2rem !important;
}

.tiny-margin {
    margin-top: .5rem;
}

@media only screen and (max-width: 1200px) {
    .place-center {
        text-align: center;
    }

    .top-margin {
        margin: 14rem 0 0 0 !important;
    }

    footer {
        margin-top: 10rem;
    }
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 100px;
        margin-top: .6rem;
    }

    .thin {
        font-size: 40px;
    }

    .row p, .row p span {
        font-size: 16px;
    }

    .mark {
        margin-bottom: 3px;
    }

    .right-margin {
        margin-right: 1.5rem;
    }

    .stay-centered {
        text-align: center;
    }

    footer {
        margin-top: 5rem;
    }
}

@media only screen and (min-width: 1400px) {
    .blue-smiley {
        width: 400px;
        border-radius: 50%;
    }

    footer {
        margin-top: 18rem;
    }

    .wave {
        bottom: 370px;
    }
}

@media only screen and (max-width: 400px) {
    .bottom-margin {
        margin-bottom: .7rem;
    }
    
    .windows, .google-play, .apple-store, .mac-store {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    footer {
        margin-top: 4rem;
    }

    .wave {
        bottom: 400px;
    }
}

@media only screen and (min-width: 993px) {
    .border {
        width: 70%;
        margin: 0 auto;
        box-shadow: 4px 4px 8px #b1b1b1,
                    -4px -4px 8px #b1b1b1;
    }

    .fixed-header {
        width: 70%;
    }
}