@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300; 500;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --darkblue: #222868;
}

body {
    background: #ecf0f3;
    font-family: Raleway;
}

.logo {
    width: 140px;
    margin-top: .5rem;
}

.blue-smiley {
    width: 100%;
    /* z-index: 50; */
    border-radius: 50%;
}

.mark {
    width: 15px;
    margin-bottom: 7px;
}

span {
    font-size: 20px;
}

h1 {
    margin: 0.5em 0 0.25em 0 !important;
}

.col {
    padding: 0 !important;
}

.row p {
    font-size: 18px;
    /* width: 360px !important; */
    /* margin: 0 auto!important; */
    /* outline: 1px solid violet; */
}

.google-play, .apple-store, .mac-store, .windows {
    width: 150px;
    height: 50px;
    border-radius: 10px;
}

.windows, .google-play {
    margin-right: 3.5px;
}

.apple-store, .mac-store {
    margin-left: 3.5px;
}

footer {
    position: relative;
    margin-top: 16rem;
}

.wave {
    position: absolute;
    bottom: 350px;
    left: 0;
    z-index: -1;
}

.footer-btn {
    position: relative;
}

.footer-icon {
    position: absolute;
    top: 35%;
    left: 20%;
    transform: translate(-50%, -50%);
}
/* Utilities */
.white:hover {
    background: #7BD1EC !important;
}

.lightBlue {
    background: #BDE8F5 !important;
}

.lightBlue:hover {
    background: #7BD1EC !important;
}

.lightBlue-text {
    color: #BDE8F5;
}

.darkBlue {
    background: #222868 !important;
}

.darkBlue-text {
    color: #222868 !important;
}

.rounded {
    border-radius: 25px;
}

.bold {
    font-family: Roboto !important;
    font-weight: 500 !important;
    /* font-size: 24px; */
}

.thin {
    font-family: "Roboto" !important;
    font-weight: 300 !important;
    font-size: 50px;
}

.top-padding {
    padding: 6rem 0;
}

.lr-padding {
    padding: 0 1.5rem;
}

.top-margin {
    margin: 9rem 0 0 0 !important;
}

.bottom-margin {
    margin-bottom: .3rem !important;
}

.footer-margin {
    margin-top: 2rem;
}

.right-margin {
    margin-right: 3rem;
}

.uppercase {
    text-transform: uppercase;
    font-weight: 500;
}

.margin-down {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 1200px) {
    .place-center {
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 100px;
        margin-top: .6rem;
    }

    .thin {
        font-size: 40px;
    }

    .row p, .row p span {
        font-size: 16px;
    }

    .mark {
        margin-bottom: 3px;
    }
}

@media only screen and (min-width: 1400px) {
    .blue-smiley {
        width: 400px;
        /* z-index: 50; */
        border-radius: 50%;
    }

    footer {
        margin-top: 18rem;
    }

    .wave {
        bottom: 320px;
    }
}

@media only screen and (max-width: 400px) {
    .bottom-margin {
        margin-bottom: .5rem;
    }
    
    .windows, .google-play, .apple-store, .mac-store {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

/*@media only screen and (min-width: 993px) {

} */